@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.landing-page-container {
    // background-image: url("/public/image/ghasplogo.png");
    // background-repeat: no-repeat;
    // background-size: cover;
    width: 100%;
    max-width: 1700px;
    margin: auto;
    height: 100%;
    background-color: #fce2b293;
    display: flex;
    justify-content: center;
    padding-top: 70px;
    .landing-page-container-item {
        width: 80%;
        height: 10%;
        margin-top: 150px;
        .landing-page-container-item-inside {
            width: 100%;
            height: 100%;
            display: flex;
            @include response-to(tablet) {
                flex-direction: column;
            }
            .item-left {
                width: 50%;
                height: 100%;
                display: flex;
                gap: 20px;
                padding-right: 100px;
                flex-direction: column;
                font-family: "Figtree";
                animation: fadeInLeft 1s ease-out;
                @include response-to(tablet) {
                    width: 100%;
                    padding-right: 0;
                }
                .item-left-title {
                    font-size: 3.4375rem;
                    font-weight: 700;
                    padding-bottom: 20px;
                    border-bottom: 1px solid rgb(228, 228, 228);
                    color: #000;
                }
                .item-left-para {
                    font-size: 1.5625rem;
                    color: #000;
                }
            }
            .item-right {
                width: 50%;
                height: 100%;
                animation: fadeInRight 1s ease-out;
                display: flex;
                align-items: center;
                justify-content: center;
                @include response-to(tablet) {
                    width: 100%;
                }
                .item-right-image {
                    .img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}
