@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.globals-container {
  height: 100vh;
  min-height: 100%;
}

.topbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 70px;
}
.topbar-container .topbar-container-inside {
  padding: 10px 15px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topbar-container .topbar-container-inside .logo-container .logo-container-inside {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.topbar-container .topbar-container-inside .logo-container .logo-container-inside .logo-item {
  width: 70px;
  height: 70px;
}
@media (max-width: 768px) {
  .topbar-container .topbar-container-inside .menu-container {
    display: none;
  }
}
.topbar-container .topbar-container-inside .menu-container .menu-container-inside {
  display: flex;
  align-items: center;
  gap: 10px;
}
.topbar-container .topbar-container-inside .menu-container .menu-container-inside .search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
}
.topbar-container .topbar-container-inside .menu-container .menu-container-inside .search-container .input-item-search {
  opacity: 0;
  visibility: hidden;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 20px;
  font-size: 16px;
  position: absolute;
  right: 0;
  z-index: 1;
  padding: 7px 10px;
  height: 40px;
  width: 0;
  padding-right: 40px;
  transition: width 200ms ease-out, opacity 200ms ease-out, visibility 200ms ease-out;
}
.topbar-container .topbar-container-inside .menu-container .menu-container-inside .search-container .input-item-search.display-option {
  display: block;
  opacity: 1;
  width: 270px;
  visibility: visible;
  transform: translateX(0);
}
.topbar-container .topbar-container-inside .menu-container .menu-container-inside .search-container .input-item-search:focus {
  outline: 1px solid rgb(204, 204, 230);
}
.topbar-container .topbar-container-inside .menu-container .menu-container-inside .search-container .icon-container {
  display: flex;
  align-items: center;
  z-index: 2;
  margin-right: 10px;
}
.topbar-container .topbar-container-inside .menu-container .menu-container-inside .menu-container-inside-item {
  cursor: pointer;
  padding: 5px;
  font-size: 16px;
  transition: ease-in 0.3s;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}
.topbar-container .topbar-container-inside .menu-container .menu-container-inside .menu-container-inside-item span {
  position: relative;
  z-index: 2;
}
.topbar-container .topbar-container-inside .menu-container .menu-container-inside .menu-container-inside-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform: scaleX(0);
  transition: transform 0.3s;
  z-index: 1;
}
.topbar-container .topbar-container-inside .menu-container .menu-container-inside .menu-container-inside-item:hover:before {
  transform: scaleX(1);
}
.topbar-container .topbar-container-inside .menu-container .menu-container-inside .menu-container-inside-item:hover {
  color: white;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.landing-page-container {
  width: 100%;
  height: 100%;
  background-color: rgba(252, 226, 178, 0.5764705882);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
}
.landing-page-container .landing-page-container-item {
  width: 80%;
  height: 70%;
}
.landing-page-container .landing-page-container-item .landing-page-container-item-inside {
  width: 100%;
  height: 100%;
  display: flex;
}
.landing-page-container .landing-page-container-item .landing-page-container-item-inside .item-left {
  width: 50%;
  height: 100%;
  display: flex;
  gap: 20px;
  padding-right: 100px;
  flex-direction: column;
  font-family: "Figtree";
  animation: fadeInLeft 1s ease-out;
}
.landing-page-container .landing-page-container-item .landing-page-container-item-inside .item-left .item-left-title {
  font-size: 55px;
  font-weight: 700;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(228, 228, 228);
  color: #000;
}
.landing-page-container .landing-page-container-item .landing-page-container-item-inside .item-left .item-left-para {
  font-size: 25px;
  color: #000;
}
.landing-page-container .landing-page-container-item .landing-page-container-item-inside .item-right {
  width: 50%;
  height: 100%;
  animation: fadeInRight 1s ease-out;
}/*# sourceMappingURL=styles.css.map */